* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header {
    position: sticky;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(22, 27, 33);
    padding: 20px 50px;
    height: fit-content;
    min-height: 10vh;
    width: 100vw;
}

#content {
    color: rgb(202, 209, 216);
    background-color: rgb(14, 17, 22);
    padding: 30px;
    height: fit-content;
    min-height: 90vh;
}

#mainForm {
    padding: 0 0 30px 20px;
}

#mainForm > input, #mainForm button {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid rgb(56, 59, 66);
    border-radius: 7px;
}

#mainForm input {
    width: 420px;
}

#mainForm > button {
    color: rgb(202, 209, 216);
    background-color: rgb(34, 38, 44);
}

#usersInfo {
    display: flex;
}

._image, ._info {
    padding: 20px;
}

._image > img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

._info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._info > h3 {
    font-size: 40px;
    padding-bottom: 30px;
    color:rgb(105, 166, 248);
}

._info > p {
    font-size: 20px;
    padding-bottom: 15px;
}

._label {
    color:rgb(105, 166, 248);
}